#about{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
#experience{
    display: none;
    transition: all ease-in-out 350ms;
}
#mission{
    transition: all ease-in-out 350ms;
}


@media (max-width: 425px){
    #about{
        width: 100%;
        height: fit-content;
    }

}