#footer{
    width: 100%;
    height:50vh;
}

.icons{
    width: 40px;
    height: 40px;
}

@media (max-width: 768px){
    .icons{
        width: 30px;
        height: 30px;
    }
    #footer{
        height:fit-content;
    }
}