#header{
    width: 100vw;
    height: 100vh;
    position: relative;
}
#sub_header{
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;

}
#Subheader_thingy{
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#bg-image_sub{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    filter: brightness(70%);
}

nav{
    z-index: 2;
}
#bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: brightness(70%);
}

ul a li img{
    filter: invert(.9);
}ul a li{
    transition: all ease-in-out 350ms;
}
ul a li:hover{
    color:#fbbf24;
}
b{
  position: relative;  
}
b::after{
    content: " ";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color:#fbbf24;
    bottom: 0;
    left: 0;
}

#header_text{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button{
    transition: all ease-in-out 350ms;
}button:hover{
    color: #fbbf24;
    background-color: transparent;
    border-color: #fbbf24;
}
#cancel{
    display: none;
}
#menu{
    display: none;
}


@media (max-width: 425px){
#social-icons{
    display: none;
}
#links{
    display:none;
}
#menu{
    display:flex;
}
}