#testimony{
    width: 100%;
    height:100vh
}

#card_text{
    position: relative;
}
#quotes{
    position: absolute;
    top: 0%;
    right: 5%;
    height:24px;
    width: 24px;
}

@media (max-width: 768px){
    #testimony{
        height:fit-content;
    }
}